include netDistrib.conf
include CHANGES LICENSE.md MANIFEST.in PACKAGES README* TODO
include check* diff* countem genEm
include fragments/* fuseDecode fuseGen genEm
include extern/*
include ghpDoc/*
include PACKAGES
include src/*
include test*.py
recursive-include *.py
global-exclude junk* .*swp
