include netDistrib.conf
include CHANGES LICENSE.md MANIFEST.in PACKAGES README* TODO
include auto8it check* diff* countem genEm* installit
include fragments/* fuseDecode fuseGen 
include extern/*
include ghpDoc/*
include PACKAGES
include src/c_src/*
include tests/test*.py
recursive-include *.py
global-exclude junk* .*swp
