include netDistrib.conf
include CHANGES LICENSE.md MANIFEST.in README* TODO
include countem fuseGen
include ghpDoc/*
include licenses/*
include test*.py
recursive-include *.py
global-exclude junk* .*swp
